html,body{
	font-family: 'Muli', sans-serif !important;
}
.chat-flex-container {
	display:flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.chat-list{
	border:0px;
	width: 195px;
	min-height:145px;
	padding:15px;
	margin: 8px;
	text-align:center;
	cursor:pointer;
	font-size:14px;
	background-color:rgba(0,0,0,0);
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	overflow-x: hidden;
    text-overflow: ellipsis;
	border:1px solid;
	border-color:rgba(0,0,0,0.1);
}
.minnit-dark-page .chat-list{
	border-color:rgba(255,255,255,0.1);
}
.chat-list:hover{
	background-color:rgba(0,0,0,0.1);
}
.minnit-dark-page .chat-list:hover{
	background-color:rgba(255,255,255,0.2) !important;
}
.chat-flex-container a, .chat-flex-container a:hover{
	text-decoration:none !important;
	color:#0000aa;
}
.minnit-dark-page .chat-flex-container a, .minnit-dark-page .chat-flex-container a:hover {
	color:#ffffff;
}
.chat-list img {
	width: 100%;
	height:140px;
}
#chatLists footerlinks a:link, #chatLists a:active, #chatLists a:visited, #chatLists a:hover{
	color:#000000 !important;
}
.page-footer{
	background-color:white;
}
.chat-list h3 {
	padding-top:2px;
	margin-top:2px;
	font-size: 20px;
}

@media only screen and (max-width: 768px) {
	.navbar-nav{
		margin-top:155px;
		background-color:white;
		width:95vw !important;
	}
}
.minnitlogo{
	position:relative;
	top:-5px;
	display:block;
	width:32px;
	height:32px;
	background-image:url("../images/logo.html");
}
.minnitinlinelogo{
	margin-top:8px;
	background-image:url("../images/logo.html");
	display:inline-block;
	width:24px;
	height:24px;
}
.dropdown-menu{
	margin-top: -7px !important;
}
/*
.navbar-nav{
	margin-top:155px;
	background-color:white;
	width:100vw;
}
*/
.minnitlogoinline{
	display:inline-block;
	top:2px;
}
.nav-item{
	padding-left:10px;
}
.navinput{
	position:relative;
	margin-left:10px;
	margin-top:4px;
	height:30px;
}
.navsep{
	border-right: 2px solid;
	border-color:#eee;
	display:block;
	height:40px;
	padding-left:8px;
}
.minnitnavbar-dark .navsep{
	border-color:#222;
}
.navatar{
	position:relative;
	display:inline-block;
	top:-3px;
	border-radius:100%;
}
.navname{
	font-size:16px;
	position:relative;
	display:inline-block;
	top:-1px;
}
@media only screen and (max-width: 1000px) {
	.smmaker{
		display:none !important;
	}
}
.form-group {
	position: relative;
}
.form-group .glyphicon {
	position: absolute;
	right: 10px;
	pointer-events: none;
}
.minnittag {
	display:inline-block;
	border:1px solid;
	border-radius:4px;
	padding:8px;
	font-size:16px;
	cursor:default;
	margin-right:8px;
	margin-top:8px;
}
.tagx, .tagx:focus, .tagx:hover {
	text-decoration: none;
	cursor:pointer;
}
.minnitfooter {
  bottom: 0px;
  width: 100%;
  min-height: 80px;
  border-top:1px solid;
  border-color:#eeeeee;
  background-color:#ffffff;
  padding:8px;
  margin-top:12px;
  color:#888888;
  font-size:16px;
}
.footer-left{
	display:inline-block;
	text-align:left;
}
.footer-right{
	display:inline-block;
	float:right;
	text-align:right;
}
.footer-left{
	color:#888888 !important;
}
#footerlinks a:link, #footerlinks a:active, #footerlinks a:visited, #footerlinks a:hover{
	color:#888888 !important;
}
.coinlogo{
	position:relative;
	left:-1px;
}
.footerlink{
	padding-right:24px;
}
@media (max-width: 62em) {
	.navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
}
.minnitnavbar{
	background-color:#ffffff;
	border:0px solid;
	border-bottom:1px solid;
	border-color:rgba(0,0,0,0.1);
	height:40px;
	position:fixed !important;
	top:0px;
	width:100%;
	z-index:999999;
}
#navbar-placeholder{
	height:40px;
	display:block;
}
.minnit-nav-user-dropdown{
    position: absolute !important;
    right: 165px;
}
.minnitnavbar-dark{
	background-color:#111111;
	color:#ffffff;
	border-color:rgba(50,50,50,0.1);
}
.minnitnavbar input{
	font-size:14px;
}
.minnitnavbar .form-control {
    width:auto;
    display: inline-block;
}
.minnitnavbar .loginbtn{
	height:29px;
	padding-top:2px;
	margin-top:-1px;
	font-size:14px;
}
@media only screen and (max-width: 994px) {
	.minnitnavbar .navinput{
		padding-left:0px;
		width:25%;
		font-size:10px;
		position:relative;
		height:25px;
		margin-left:10px;
		margin-top:12px;
	}
	.minnitnavbar .loginbtn{
		height:25px;
		padding-top:0px;
	}
}
@media only screen and (max-width: 768px) {
	.minnitnavbar .navinput{
		font-size:15px;
	}
	.minnit-nav-user-dropdown{
		position: absolute !important;
		right: 0px;
	}
	.navbar-toggler-icon {
		width: 16px !important;
		height: 24px !important;
	}
}
@media only screen and (max-width: 600px) {
	.minnitnavbar .loginbtn, .navinput{
		display:block;
		position:relative;
		margin-left:5px;
		margin-top:5px;
	}
	.minnitnavbar .navinput{
		font-size:15px;
	}
}
.footersocial{
	position:relative;
	margin-right:12px;
	font-size:25px !important;
	padding-top:5px;
	border:1px solid #41b9e1;
	width:32px;
	height:32px;
	padding-right:3px;
	border-radius:50%;
	text-decoration:none !important;
	color:#41b9e1 !important;
}
.footerfb{
	padding-right:7px;
}
.footersocial:hover{
	opacity:0.5;
}
.navbar a:link, .navbar a:active, .navbar a:visited, .navbar a:hover{
	color:#000000 !important;
}
.navbar li:hover a:link, .navbar li:hover a:active, .navbar li:hover a:visited, .navbar li:hover a:hover{
	color:#355dff !important;
}
.navbar .active a:link, .navbar .active a:active, .navbar .active a:visited, .navbar .active a:hover{
	color:#355dff !important;
}

.dropdown-menu{
	text-transform:none;
	color:#000000 !important;
}
.dropdown-menu a:link, .dropdown-menu a:active, .dropdown-menu a:visited, .dropdown-menu a:hover{
	color:#000000 !important;
}
.hidden{
	display:none !important;
}
.minnitnavbar-dark a:link, .minnitnavbar-dark a:active, .minnitnavbar-dark a:visited, .minnitnavbar-dark a:hover{
	color:#ffffff !important;
}
.minnitnavbar-dark li:hover a:link, .minnitnavbar-dark li:hover a:active, .minnitnavbar-dark li:hover a:visited, .minnitnavbar-dark li:hover a:hover{
	color:#aaaaaa !important;
}
.minnitnavbar-dark .navbar-nav>.active>a a:link, .minnitnavbar-dark .navbar-nav>.active>a a:active, .minnitnavbar-dark .navbar-nav>.active>a a:visited, .minnitnavbar-dark .navbar-nav>.active>a a:hover{
	background-color:black !important;
}
.minnitnavbar-dark .dropdown-menu{
	background-color:black !important;
}
button{
	cursor:pointer;
}
pre{
	background-color:#dddddd;
}
button:disabled{
	cursor:not-allowed;
}
.listOption{
	margin-left:8px;
	margin-right:8px;
	padding:8px;
	border-radius:4px;
	font-size:18px;
	background-color:#eeeeee;
	white-space: nowrap;
	display:inline-block;
	margin-top:12px;
}
.listOption:hover{
	opacity:0.5;
	cursor:pointer;
}
.listSelected{
	font-weight:bold;
	opacity:1;
}
.listSelected:hover{
	font-weight:bold;
	opacity:1;
}
.supportmenu a, .supportmenu a:link, .supportmenu a:active, .supportmenu a:visited, .supportmenu a:hover{
	color:#000000;
	text-decoration:none;
}
.help-block{
	font-size:12px;
	color:grey;
}
.display-4{
	font-weight:400 !important;
	margin-bottom:30px;
}
.page-top-banner{
	display:block;
	height:200px;
	width:100%;
	padding-top:80px;
	text-align:center;
	overflow:hidden;
	padding-bottom:180px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.page-top-header{
	font-size:38px;
}
.page-top-explain{
	padding-left:15%;
	padding-right:15%;
}

.minnit-plan-table td{
	text-align:center;
	padding-bottom:6px;
	padding-top:6px;
	padding-left:2px;
	padding-right:2px;
}
.minnit-free{
	color:#228822;
}
#plan0btn{
	background-color:#228822;
	border-color:#228822;
}
.minnit-basic{
	color:#222288;
}
#plan1btn{
	background-color:#222288;
	border-color:#222288;
}
.minnit-community{
	color:#882222;
}
#plan2btn{
	background-color:#882222;
	border-color:#882222;
}
.minnit-pro{
	color:#880080;
}
#plan3btn{
	background-color:#880080;
	border-color:#880080;
}
#darkmode-off{
	display:none;
}
.minnit-dark-page #darkmode-off{
	display:block;
}
.minnit-dark-page #darkmode-on{
	display:none;
}
.minnit-dark-page{
	background-color:#111111;
	color:#d0d0d0;
}
.minnit-dark-page #minnit-footer, .minnit-dark-page .listOption, .minnit-dark-page .smileyOption, .minnit-dark-page .page-top-banner, .minnit-dark-page select, .minnit-dark-page #edit-chat-sidebar, .minnit-dark-page .shopOption, .minnit-dark-page .jumbotron, .minnit-dark-page .alert-primary, .minnit-dark-page .card-header, .minnit-dark-page .shopMainMenu {
	background-image:none !important;
	background-color:#292929 !important;
	color:#d9d9d9;
}

.minnit-dark-page input, .minnit-dark-page textarea {
	background-image:none !important;
	background-color:#292929 !important;
	color:#fff !important;
}
.minnit-dark-page .sidebar-selected, .minnit-dark-page .card, .minnit-dark-page #minnit-profile-center, .minnit-dark-page #minnit-profile-name, .minnit-dark-page #minnit-profile-at {
	background-color:#000000;
}
.minnit-dark-page .page-item, .minnit-dark-page .page-link {
	background-color:#111111 !important;
	border-color:#666 !important;
}
.minnit-dark-page .active .page-link{
	background-color:#333 !important;
}
.minnit-dark-page a{
	color:#ffffff;
}
.minnit-dark-page .alert a{
	color:inherit !important;
	text-decoration:underline !important;
}
.minnit-dark-page .modal-content {
	background-color:#000;
	box-shadow: 0px 1px 1px #aaa;
}
#plan-holder {
	display:flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}
.plan-list{
	border:0px;
	width: 22%;
	min-width:200px;
	margin:1%;
	min-height:145px;
	text-align:center;
	font-size:17px;
	background-color:rgba(0,0,0,0);
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	overflow-x: hidden;
    text-overflow: ellipsis;
	border:1px solid;
	border-color:rgba(0,0,0,0.2);
}
.plan-list ul {
	text-align:left;
	padding:3px;
	margin-left:19px;
}
.plan-list li {
	margin-top:5px;
}
.plan-list .btn-primary{
	white-space: normal;
	margin:22px;
}
.minnit-dark-page .minnit-free{ color:lightgreen !important; }
.minnit-dark-page .minnit-basic{ color:cornflowerblue !important; }
.minnit-dark-page .minnit-community{ color:indianred !important; }
.minnit-dark-page .minnit-pro{ color:mediumpurple !important; }
.minnit-dark-page .plan-list {border-color:rgba(255,255,255,0.1);}
